* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
}

.container-boxes {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.container-boxes .box {
  width: calc((100% / 3) - 40px);
  margin: 20px;
}
.container-boxes .box img {
  display: block;
  width: 100%;
  cursor: pointer;
}

main {
  padding: 40px 0;
}

.bg-main {
  background-image: url("/images/fondo-pag-speciali.jpg");
  background-size: contain;
  height: auto;
}
.bg-main h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-top: 20px;
  color: #002d73;
}

.box-product {
  display: flex;
  flex-direction: column;
  color: #002d73;
}
.box-product img {
  width: 100%;
  display: block;
}
.box-product h1 {
  margin: auto;
  text-transform: uppercase;
}

.bg-light {
  background-color: #b7dae5;
}

#products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#products i {
  font-size: 40px;
}

.logo img {
  max-width: 250px;
  padding: 40px;
}

.nav-header ul {
  display: flex;
  list-style: none;
}
.nav-header ul a {
  text-decoration: none;
  margin: 16px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 50px;
}
.nav-header .active {
  background-color: #b2e5fc;
}

.list-column {
  width: 300px;
}
.list-column ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.list-column ul li {
  font-size: 14px;
  color: #848d9b;
}
.list-column h3 {
  text-transform: uppercase;
  padding: 16px 0;
  font-weight: 600;
  color: #848d9b;
  margin-top: 50px;
}

.list-info {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 120px;
}

footer {
  background-image: url("/images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
