* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
}

.container-boxes {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.container-boxes .box {
  width: calc((100% / 3) - 40px);
  margin: 20px;
}
.container-boxes .box img {
  display: block;
  width: 100%;
}

.bg-main {
  background-image: url("/images/fondo-pag-speciali.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.bg-main h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  color: #002d73;
}

.logo img {
  max-width: 250px;
  padding: 40px;
}

.nav-header ul {
  display: flex;
  list-style: none;
}
.nav-header ul a {
  text-decoration: none;
  margin: 16px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
}

.list-column {
  flex-basis: 33%;
  align-self: center;
  padding: 90px;
}
.list-column ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.list-column ul li {
  font-size: 14px;
  color: #848d9b;
}
.list-column h3 {
  text-transform: uppercase;
  padding: 20px 0;
  font-weight: 600;
  color: #848d9b;
}

.list-info {
  display: flex;
  justify-content: space-between;
}

footer {
  background-image: url("/images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
