* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
font-family: 'Open Sans', sans-serif;
}

.container {
 @include containerSt;
   &.container-header {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     font-weight: $semiboldWeight;
   }
}

.container-boxes {
 @include containerSt;
  display: flex;
  flex-wrap: wrap;
   .box {
    width: calc((100% / 3) - 40px);
    margin: 20px;
      img {
        display: block;
        width: 100%;
      }
   }
}