.list-column {
width: 300px;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
      li {
         font-size: 14px;
         color: $text-color;
      }
  }
  h3 {
    text-transform: uppercase;
    padding: 16px 0;
    font-weight: $semiboldWeight;
    color: $text-color;
  }
}

.list-info {
    @include containerSt;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 120px;

}


footer {
    background-image: url('/images/footer-montagne-bottom.jpg');
    background-repeat: no-repeat;
    background-position: bottom ;
}