.list-column {
flex-basis: 33%;
align-self: center;
padding: 90px;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
      li {
         font-size: 14px;
         color: $text-color;
      }
  }
  h3 {
    text-transform: uppercase;
    padding: 20px 0;
    font-weight: $semiboldWeight;
    color: $text-color;
  }
}

.list-info {
 display: flex;
 justify-content: space-between;
}


footer {
    background-image: url('/images/footer-montagne-bottom.jpg');
    background-repeat: no-repeat;
    background-position: bottom ;
}