.logo {
 img {
    max-width: 250px;
    padding: 40px;
 }
}

.nav-header {
 ul {
  display: flex;
  list-style: none;
    a {
      text-decoration: none;
      margin: 16px;
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      font-weight: 600;
      line-height: 50px;
    }
 }
 .active {
    background-color: $lighter-blue;
 }
//Responsive
 @media screen and (max-width: 750px) {
    ul {
      a {
         font-size: 15px;
       }
    }
   
 }
}