//Products

.box-product {
    display: flex;
    flex-direction: column;
    color: $primary-blue;
      img {
       width: 100%;
       display: block;
      }
      h1 {
       margin: auto;
       text-transform: uppercase;
      }
      //Responsive
      @media screen and (max-width: 750px) {
        p {
         font-size: 12px;
         padding: 20px;
        }
        h1 {
          font-size: 20px;
        }
      }
  }
  
  .bg-light {
   background-color: $product-bg;
  }
  
  #products {
   display: flex;
   justify-content: space-between;
   align-items: center;
     i {
       font-size: 40px;
       color: $text-color;
     }

  }